.container {
    gap: 10px;
    transition: height 0.7s;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.box :nth-child(1) {
  flex-grow: 8;
}
.box :nth-child(2) {
  flex-grow: 1;
}

/* input */
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  padding-bottom: 20px;
}

.input-container label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputContainer input {
  width: 90%;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, #f7f7ff, #f0f0fc);
  outline: none;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.inputContainer input::placeholder {
  color: #a0a0a0;
  font-size: 14px;
}

/* tooltip */
.tooltip {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  background: #ecebff;
  color: #5c4ac7;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

/* hide input arrows */
/* Chrome, Safari, Edge, Opera */
.inputContainer input::-webkit-outer-spin-button,
.inputContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputContainer input[type=number] {
  -moz-appearance: textfield;
}

/* togle */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #dedcff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #535354;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  border-radius: 50%;
  background-color: #544db4;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* curency section */

.curencySection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.curencySection > label{
  margin-left: 25px;
}



.currencyContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 400px;
}

.buttonsSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

/* phone media querry */
@media only screen and (max-width: 768px) {
  .buttonsSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container {
    max-width: 385px;
    height: 505px;
  }

  .expandedCard {
    height: 600px; 
  }

  .secondContainer {
    max-width: 385px;
  }

  .moduleContainer {
    flex-direction: column;
  }
}

.moduleContainer {
  margin-top: 120px;
  display: flex;
  gap: 50px;
}

/* tablet media querry */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .currencyContainer {
    gap: 10px;
  }

  .moduleContainer {
    flex-direction: column;
    gap: 20px;
    width: 694px;
  }

  .secondContainer {
    width: 694px;
  }

  .container { 
    width: 100%;
  }
}

/* desktop */
@media only screen and (min-width: 993px) {
  .container{
    width: 694px;
    height: 460px;
  }

  .secondContainer {
    width: 584px;
  }

  .expandedCard {
    height: 550px; 
  }
}